*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    font-size: large;
    display: grid;
    grid-template-rows: auto auto 3fr auto;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    max-width: 100vw;
    padding: 1rem
}

body.addon-alert .alert {
    display: none;
    text-align: center;
}
  
body.addon-alert .alert.fail:target {
    display: block;
}
  
body.addon-alert .alert.success:target {
    display: block;
}

body.addon-alert .alert.form:target {
    display: block;
}

a {
    color:  #FFD700;
}

svg {
    width: 4rem;
    height: 4rem;
}

/***** HEADER *****/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: baseline;
}
    
#img1Header{
    width: 110px;
    height: 80px;
}
    
#img2Header{
    width: 110px;
    height: 80px;
}
    
h1{
    color: #C8AD7F;
    text-align: center;
    font-size: 30px;
}

/***** NAV *****/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8vh;
    background-color: #556B2F;
    padding: 1rem;
    align-self: baseline;
}

/***** PHOTOS *****/

.photo{
    display: grid;
    width: 100vw;
    place-items: center;
    grid-template-areas: ". titre ."
                        "svgGauche viewPhoto svgDroite"
                        " . supp .";
    align-self: center;
}
    
.viewPhoto{
    grid-area: viewPhoto;
    width: 60vw;
} 

.svgGauche{
    grid-area: svgGauche;
}

.svgDroite{
    grid-area: svgDroite;
}

.supp{
    grid-area: supp;
}

div.photo p{
    grid-area: titre;
}

h3{
    display: flex;
    justify-content: center;
    color: #FFD700;
}

/***** FORM *****/

.form{
    display: flex;
    text-align: center;
    justify-content: center;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);  
}

form img{
    width: 60vw;
}

/***** INPUT *****/

input{
    width: 200px;
    height: 50px;
    background-color: #FFD700;
}

.input{
    background-color: #C8AD7F;
    width: 300px;
    font-size: 14px;
}

#loginOK{
    font-size: 20px;
    margin-top: 20px;
}

#submit{
    font-size: 10px;
}

.usermail{
    display: flex;
    justify-content: center;
    align-self: center;
}